
    <header>
        <%- include('./partials/header') %>
        <h1>checkOut Tab</h1>
    </header>
    <% let total = 0 %>
    <% for(let i=0; i < selectedItems.length; i++) {%>
        <% total +=selectedItems[i].count * selectedItems[i].price %>
        <% } %>
        <span>total: <%= total %>$</span>

    <form action="">
        <input type="text" name="first_name"  placeholder="First Name">
        <input type="text" name="second_name" placeholder="Second Name" >
        <input type="email" name="email" id="">
        <input type="number" name="phone_number" id="">
    </form>

    <form
    action="/post/deletePost/?_method=DELETE"
    method="POST"
    class="col-3"
  >
    <button class="btn" type="submit"> Send Order</button>
  </form>

    <script src="/js/script.js"></script>
    <>
        <%- include('./partials/footer') %>


